hr {
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .rodape__titulo{
        font-family: var(--font-principal);
        font-size: 24px;;
    }
   
    .lista-rodape{
        display: block;
    }


    .lista-rodape__item{
        display: flex;
        align-items: center;
        padding: 0.5em;
    }
    
    .lista-rodape__titulo{
        font-family: var(--font-principal);
        font-size: 14px;
        color: var(--cinza);
        padding: 0 0 1em 0;
    }

    .lista-rodape__link{
        font-family: var(--font-principal);
        font-size: 14px;
        color: var(--cinza-secundario);
        text-decoration: none;
        margin: 0 0 0 0.5em;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape{
        border-left: 1px solid var(--cinza);
        padding-left: 1em;
    }

    .rodape{
        padding: 3em 0;
    }
}